<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
        <ion-row *ngIf="!loginService.isLoggedIn()">
          <ion-col class="login-row">
            <ion-button (click)="loginService.login()" shape="round" size="default">
              Se Connecter
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-header>
      <ion-content>
        <ion-list>
          <div *ngIf="loginService.isLoggedIn()">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <ion-menu-toggle auto-hide="false" *ngIf="!loginService.isLoggedIn()">
            <ion-item routerDirection="root" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Accueil
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-row *ngIf="loginService.isLoggedIn()">
          <ion-col class="login-row">
            <ion-button color="danger" (click)="loginService.logout()" shape="round" size="default">
              Se Déconnecter
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
