.checkbox {
    --size: 25%;
    --background-checked: chartreuse;
    --border-color: coral;
    --border-color-checked : chartreuse;
}
.center-grid {
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
}
.red-card {
    background: #ff4b33;
    color: white;
}
.verb {
    font-size: large;
}
.object {
    font-size: xx-large;
    font-weight: bold;
}
.item-done {
    border: solid chartreuse;
}
.item-pending {
    border: solid coral;
}
.black-button {
    color: black !important;
}