.blackButton {
  color: black !important;
}
.error-message {
  color: red;
}
.content-row {
  align-content: center !important;
  text-align: center !important;
  justify-content: center !important;
}
.input-legend {
  font-weight: bold;
}
.input-disabled {
  color: gray;
}