<ion-header>
  <ion-toolbar>
    <ion-title>
      Ion-Checklist Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label slot="start">Username :</ion-label>
      <ion-input [(ngModel)]="usernameInput" placeHolder="Enter username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Checklist :</ion-label>
      <ion-input [(ngModel)]="checklistInput" placeHolder="Enter checklist"></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      (click)="onClickExecute()"
      [disabled]="!isFormValid">
      Execute Checklist
    </ion-button>
    <ion-button
      expand="block"
      (click)="onClickExecuteChat()"
      [disabled]="!isFormValid">
      Execute Checklist With Chat
    </ion-button>
    <ion-button
      expand="block"
      (click)="onClickEdit()"
      [disabled]="!isFormValid">
      Edit Checklist
  </ion-button>
  </ion-list>
</ion-content>
