<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="ion-padding">Vous pouvez éditer les champs ci-dessous afin de modifier votre profil.</div>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div class="input-legend" slot="start">Email :</div>
      <ion-input class="input-line input-disabled" [(ngModel)]="userInfo.gmail" readonly="true"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div class="input-legend" slot="start">Prénom :</div>
      <ion-input class="input-line" [(ngModel)]="userInfo.firstName" placeholder="Prénom"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div class="input-legend" slot="start">Nom de famille :</div>
      <ion-input class="input-line" [(ngModel)]="userInfo.lastName" placeholder="Nom de famille"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div class="input-legend" slot="start">Téléphone :</div>
      <ion-input class="input-line" [(ngModel)]="userInfo.cellphone" placeholder="N° de Téléphone"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <div class="input-legend" slot="start">Date de naissance :</div>
      <ion-input class="input-line" [(ngModel)]="userInfo.birth" placeholder="JJ/MM/AAAA"></ion-input>
    </ion-item>
    <div *ngIf="!isValidUser()">
      <ion-item-divider></ion-item-divider>
      <div class="ion-padding error-message">Un ou plusieurs champs ne sont pas valides.</div>
    </div>
    <ion-item-divider></ion-item-divider>
    <ion-row class="content-row">
      <ion-button shape="round" size="default" (click)="onClickSend()" [disabled]="!isValidUser()">
        Valider
      </ion-button>
      <ion-button shape="round" color="danger" (click)="onClickCancel()">
        Annuler
      </ion-button>
    </ion-row>
  </ion-list>
</ion-content>
