.content-row {
  height: 100% !important;
  align-content: center !important;
  text-align: center !important;
  justify-content: center !important;
}
.new-person {
  border: solid darkcyan;
}
.new-notif {
  color: darkcyan;
}